body {
    background: #607d8b;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "aside main main main"
    "aside main main main";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    justify-content: center;
    
}
header {
    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    


}
main {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    display: grid;
    grid-template-areas:
    "greenContainer redContainer"
    "yellowContainer blueContainer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* justify-items: center;
    align-items: center; */
}
aside {
    grid-column: 1;
    grid-row: 2 / span 4;
    font-family: 'Open Sans', sans-serif;
}
.redContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2px;
}
.greenContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 2px;
}
.blueContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 2px;
}
.yellowContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px;
}
.red {
    height: 100px;
    width: 100px;
    background: red;
    /* margin: 5px; */
    z-index: 1;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;


}
.green {
    height: 100px;
    width: 100px;
    background: green;
    z-index: 1;
    justify-content: start;
    border: 1px solid black;

}
.blue {
    height: 100px;
    width: 100px;
    background: blue;
    z-index: 1;
    border: 1px solid black;

}
.yellow {
    height: 100px;
    width: 100px;
    background: yellow;
    z-index: 1;
    border: 1px solid black;

}
.hide {
    display: hidden;
}
